:root {
    --primarycolor: #FF6C02;
    --primarylight: #fff2e9;
}

html {
    overflow-x: hidden;
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.navbar {
    z-index: 9999;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1040px;
    }
}

a {
    text-decoration: none;
}

.bg-white {
    border-top: 1px solid #fff;
}

.text-bold {
    font-weight: 700;
}

.text-orange {
    color: #FF6C02;
}

.fw-med {
    font-weight: 500;
}

.fw-semi {
    font-weight: 600;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

.title {
    font-weight: 800;
    margin-top: 100px;
}

.highlight {
    font-size: 18px;
    color: #FF6C02;
}

.edit-product-wrapper .container {
    width: 1300px;
}

.blaze-icon {
    background: url(../images/fire.svg)no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.heart-icon {
    background: url(../images/icon-heart.svg)no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    margin-right: 10px;
}

.btn {
    font-size: .9rem;
}

.form-check-input:checked {
    background-color: #FF6C02;
    border-color: #FF6C02;
}

.btn-primary {
    background: #FF6C02;
    border: 0px;
    font-weight: 600;
    padding: 10px 20px;
}

.bg-gray {
    background: #EBEBEB;
}

.btn-outline-warning {
    border-color: #FF6C02;
}

.btn-primary:hover,
.btn-outline-warning:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.sub-heading {
    font-size: 30px;
    font-weight: 700;
}

footer {
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a {
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    border: none;
}

/*.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24px' height='24px'%3E%3Cpath d='M2 11H22V13H2zM2 5H22V7H2zM2 17H22V19H2z'/%3E%3C/svg%3E");
}*/

.navbar-toggler:focus {
    box-shadow: none;
}

.social-icon li {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    padding: 10px;
}

.social-icon li:hover {
    background: #FF6C02;
}

.material-form-field {
    position: relative;
    display: block;
    color: #000000;
    padding: 25px 0 10px 0;
    width: 60%;
}

.material-form-field::after {
    content: "Â ";
    display: none;
    color: #d50000;
    font-size: 12px;
    padding-top: 5px;
}

.material-form-field .material-form-field-label {
    font-size: .9rem;
    position: absolute;
    display: block;
    top: 35px;
    left: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    cursor: text;
}

.material-form-field input,
.material-form-field textarea,
.material-form-field select {
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #000000;
    outline: none;
}

.material-form-field input:invalid {
    outline: none;
    box-shadow: none;
    background: transparent;
}

.material-form-field input:focus~.material-form-field-label,
.material-form-field select:focus~.material-form-field-label,
.material-form-field textarea:focus~.material-form-field-label {
    top: 10px;
    font-size: 12px;
}

.material-form-field input:focus,
.material-form-field select:focus,
.material-form-field textarea:focus {
    outline: none;
    color: #3f51b5;
    padding-bottom: 8px;
    border-bottom-width: 3px;
    border-bottom-color: #3f51b5;
}

.material-form-field input:focus~.material-form-field-label,
.material-form-field select:focus~.material-form-field-label,
.material-form-field textarea:focus~.material-form-field-label {
    color: #3f51b5;
}

.material-form-field input:focus~.material-dropdown {
    /*
  If you want to animate this you will need to use some js to calculate it
  Optionally, you can simply display:block/none 
  */
    height: 228px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-out height, step-start box-shadow 0.2s;
    -moz-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
    -webkit-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
}

.material-form-field.material-form-field-invalid {
    color: #d50000;
}

.material-form-field.material-form-field-invalid::after {
    content: attr(data-validationError);
}

.material-form-field.material-form-field-invalid input:focus~.material-form-field-label {
    color: #d50000;
}

.btn-choice label {
    font-size: 12px;
}



.form-control:focus {
    box-shadow: none;
}

.bg-primarylight {
    background: var(--primarylight);
}

.bg-orange {
    background: var(--primarycolor);
}

.ff-listing-favorite.filled path {
    fill: #f11d1de0;
}

.circle {
    background: url(../images/circle.png)no-repeat;
    width: 466px;
    height: 466px;
    position: absolute;
    left: -320px;
    z-index: -9;
}

.sticky-footer {
    display: none;
}

.product-list-item {
    transition: all .3s;
    -webkit-transition: all .3s;
}

.product-list-item:hover {
    border-color: transparent !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.admin-tabs {
    margin: 0 -3px;
}

.admin-tabs li {
    margin: 0 3px;
}

.admin-tabs .nav-link {
    color: #000;
    position: relative;
}

.admin-tabs .nav-link:after {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 5px;
}

.admin-tabs .nav-link.active {
    color: var(--primarycolor);
    border: 0;
}

.admin-tabs .nav-link.active:after {
    background: var(--primarycolor);
}

@media only screen and (max-width: 767px) {
    .fixed {
        display: block;
    }
    .footer-sticky {
        width: 100%;
        position: fixed;
        bottom: 0px;
        background: #fff;
        box-shadow: 2px -4px 32px #0000004a;
        left: 0px;
        padding: 19px;
        z-index: 999;
    }
    .sticky-footer {
        width: 100%;
        position: fixed;
        bottom: 0px;
        background: #fff;
        box-shadow: 2px -4px 32px #0000004a;
        padding: 10px 0px;
    }
    .circle {
        left: -140px;
        background-size: 51%;
        margin-top: 80px;
    }
    .list-group {
        text-align: left;
        margin-top: 30px;
    }
    .product-list-item .badge {
        font-size: 10px;
    }
    .admin-tabs .nav-link {
        font-size: .9rem;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    footer .labels {
        margin-top: 20px;
        display: block;
    }
}

.material-form-field .material-form-field-label.focused {
    top: 10px;
    font-size: 12px;
}

.btn-check:active+.btn-light,
.btn-check:checked+.btn-light,
.btn-light.active,
.btn-light:active,
.show>.btn-light.dropdown-toggle,
.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #fff;
    background-color: var(--primarycolor);
    border-color: var(--primarycolor);
}

.btn-check:active+.btn-light svg path,
.btn-check:checked+.btn-light svg path {
    fill: #fff;
}

.radio-tabs {
    border: 1px solid #ccc;
    padding: 2px 3px;
    width: 100%;
}

/******product detail page*****/

.site-switch-control .form-switch .form-check-input {
    width: 45px;
    height: 25px;
}

.site-switch-control .switch-large {
    width: calc(100% - 70px);
}

.form-check-input:checked {}

a.bin-circle {
    position: absolute;
    top: -12px;
    right: -6px;
    display: block;
    width: 25px;
    height: 25px;
    background: #FF6C02;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
}

a.bin-circle svg {
    width: 15px;
    height: 15px;
}

.media-slider .slick-track {
    margin-left: 0;
}

.media-slider .slick-slide {
    margin: 0 12px;
}

.media-slider .slick-list {
    margin: 0 -12px;
    overflow: visible;
}

.media-slider .media-item {
    padding: 12px;
    border: 1px solid #eee;
}

@media only screen and (max-width: 769px) {
    .edit-product-wrapper .product-img {
        width: 70px;
    }
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: inline-block !important;
    }
    .fs-5 {
        font-size: 1.1rem !important;
    }
    .btn-lg {
        width: 100%;
    }
}

/* -----------Admin-------------*/

td {
    vertical-align: middle;
}

.visible-xs {
    display: none;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

td {
    font-size: 12px;
}

th {
    background: ##EFEFEF;
    border: 0px;
    font-size: 12px;
}

.btn-outline-primary {
    border: 1px solid #FF6C02;
    color: #FF6C02;
    line-height: 14px;
}

.btn-outline-primary:hover {
    border: 1px solid #FF6C02;
    background: #FF6C02 !important;
}

.icon-cart {
    width: 40px;
    height: 26px;
    background: url(../images/icon-cart.svg)no-repeat;
    display: block;
    position: absolute;
    right: 60px;
    top: 20px;
}

.icon-edit {
    width: 24px;
    height: 20px;
    background: url(../images/icon-edit.svg)no-repeat;
    display: inline-block;
}

.icon-copy {
    width: 24px;
    height: 20px;
    background: url(../images/icon-copy.svg)no-repeat;
    display: inline-block;
}

.icon-delete {
    width: 20px;
    height: 20px;
    background: url(../images/icon-delete.svg)no-repeat;
    display: inline-block;
}

.icon-user {
    width: 30px;
    height: 27px;
    background: url(../images/icon-user.svg)no-repeat;
    display: block;
}

.icon-upload {
    width: 32px;
    height: 23px;
    background: url(../images/upload-dark-icon.svg)no-repeat;
    display: inline-block;
    background-size: 63%;
    background-position-y: 2px;
}

.icon-eye {
    width: 30px;
    height: 19px;
    background: url(../images/icon-eye.svg)no-repeat;
    display: inline-block;
}

.icon-trophy {
    width: 30px;
    height: 22px;
    background: url(../images/trophy.svg)no-repeat;
    display: inline-block;
    background-size: contain;
    margin-bottom: -2px;
}

.icon-back {
    width: 20px;
    height: 27px;
    float: left;
    background: url(../images/icon-back.svg)no-repeat;
    display: inline-block;
}

.display-inline {
    display: inline-block;
    margin-right: 2px;
}

/* -----------Sign In-------------*/

.sign-in {
    height: 400px;
}

.btn-lg {
    padding: 20px 40px 20px 40px;
}

/*------------ Product ------------*/

.breadcrumb a {
    text-decoration: none;
    color: #FF6C02;
}

.banner {
    padding: 30px 10px;
    background: #FFF2E9;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 21px;
    text-align: center;
    font-weight: 800;
}

.product-list .product-price {
    font-size: 14px;
    color: #FF6C01;
}

.product-list strike {
    font-size: 12px;
    color: #000;
}


.rating-1 {
    background-position: 0px -1px;
}

.rating-2 {
    background-position: 0px -20px;
}

.rating-3 {
    background-position: 0px -38px;
}

.rating-4 {
    background-position: 0px -56px;
}

.rating-5 {
    background-position: 0px -76px;
}

/*******cart page*******/

.cart-wrapper .qty-input {
    width: 80px;
}

.link-group-border {
    border: 1px solid #ccc;
    padding: 3px 3px 2px;
}

/*******cart page*******/

/*******checkout page*******/

.checkout-wrapper .accordion-button::after {
    display: none;
}

.checkout-wrapper .accordion-button .accordion-arrow {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    display: inline-block;
}

.checkout-wrapper .accordion-button:not(.collapsed) .accordion-arrow {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion.order-summary {
    background: var(--primarylight);
}

.accordion.order-summary .accordion-button {
    box-shadow: none;
}

.accordion.order-summary hr {
    background-color: var(--primarycolor);
    opacity: .9;
}

.payment-wrapper .border {
    border-color: #333 !important;
}

.info-tooltip {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: var(--primarycolor);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family: georgia;
}

/*******checkout page*******/

.policy-pages p {
    color: #5f5f5f;
}

.order-summary {
    background: #FFDFC7;
}

.order-summary .product-title {
    font-size: 10px;
    line-height: 18px;
}

.order-summary .product-price {
    font-size: 14px;
}

.order-summary .price-var {
    line-height: 10px;
}

.checkout-wrapper .cart-feature h5 {
    font-size: 14px;
}

.checkout-wrapper .cart-feature p {
    font-size: 12px;
}

.checkout-wrapper .cart-feature img {
    width: 10%;
}

.checkout-wrapper .accordion-item {
    border: 1px solid #000 !important;
    padding: 12px;
    margin-bottom: 10px;
}

/********member dashboard*******/

.member-wrapper {
    background: #F8FBFF;
    min-height: 60vh;
}

.stretched-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

/********member dashboard*******/

@media screen and (max-width : 767px) {
    .sticky-cta {
        position: fixed;
        bottom: -5px;
        height: 11%;
        width: 100%;
        left: 0px;
        z-index: 999;
    }
    .prod-table td,
    .prod-table th {
        font-size: .9rem;
    }
    .prod-table .pt-prod-img,
    .cart-wrapper .ci-img img,
    .product-thumb-img {
        width: 50px;
    }
    .accordion.order-summary .accordion-button,
    .accordion.order-summary .accordion-body {
        padding: 12px;
    }
}

/******* Product List *****/

.product-list .card {
    padding: 10px;
}

.product-list .card .product-title {
    font-size: 11px;
    line-height: 15px;
    color: #757575;
}

/*******Misc********/

.links {
    color: #000;
    text-decoration: none;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-11 {
    font-size: 11px;
}

.fs-10 {
    font-size: 10px;
}

.header-style {
    font-size: 21px;
    text-align: center;
}

.product-title {
    font-size: 10px;
}

.product-price {
    font-size: 20px;
}

.product-price-var {
    font-size: 14px;
}

.feature {
    font-size: 18px;
}

.feature-subtext {
    font-size: 16px;
    line-height: 26px;
}

.menu-icon {
    width: 20px;
    margin-right: 10px;
}

.hidden-lg {
    display: none;
}

.heart-stroke {
    fill: none;
    stroke: #ddd;
    stroke-width: 2px;
    opacity: 1;
    transform-origin: center center;
}

.button.active .heart-stroke {
    opacity: 0;
}

.heart-full {
    opacity: 0;
    transform-origin: 50% 50%;
}

.button.active .heart-full {
    opacity: 1;
}

.heart-lines {
    stroke-width: 2px;
    display: none;
}

.button:not(.active):hover .heart-stroke {
    -webkit-animation: pulse 1s ease-out infinite;
    animation: pulse 1s ease-out infinite;
}

.button.animate .heart-full {
    -webkit-animation: heart 0.35s;
    animation: heart 0.35s;
}

.button.animate .heart-lines {
    -webkit-animation: lines 0.2s ease-out forwards;
    animation: lines 0.2s ease-out forwards;
    display: block;
}

@-webkit-keyframes lines {
    0% {
        stroke-dasharray: 6;
        stroke-dashoffset: 16;
    }
    100% {
        stroke-dasharray: 13;
        stroke-dashoffset: 18;
    }
}

@keyframes lines {
    0% {
        stroke-dasharray: 6;
        stroke-dashoffset: 16;
    }
    100% {
        stroke-dasharray: 13;
        stroke-dashoffset: 18;
    }
}

@-webkit-keyframes heart {
    0% {
        transform: scale(1);
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(1.2);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    35% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    75% {
        transform: scale(1.1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(1.2);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    35% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    75% {
        transform: scale(1.1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.heart {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.info-tooltip {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: var(--primarycolor);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family: georgia;
}

.mobile-popup .close {
    display: none;
}

.mobile-popup b {
    display: none;
}

@media screen and (max-width : 769px) {
    .hidden-lg {
        display: inline-block;
    }
    .edit-product-wrapper {
        min-height: 500px;
    }
    .mobile-popup .close {
        display: block;
        float: right;
        padding-right: 10px;
        margin-top: -20px;
    }
    .overlay {
        background: #0000008c;
        width: 100%;
        position: absolute;
        top: 0px;
        height: 100%;
        display: none;
        z-index: 9;
    }
    .mobile-popup {
        padding-top: 30px;
        z-index: 9999;
    }
    .d-inline-flex {
        display: block !important;
    }
    .mobile-popup b {
        display: block;
        color: #000;
        font-size: 10px;
    }
    .mobile-popup {
        position: fixed;
        display: none;
        background: #fff !important;
        width: 100% !important;
        bottom: 0px;
    }
    .mobile-popup li {
        width: 20% !important;
        margin: 8px 20px;
        display: inline-block !important;
    }
    .mobile-popup li a {
        background: #000 !important;
        border-radius: 10px;
        padding: 20px 10px !important;
        margin-bottom: 10px;
    }
    .mobile-popup ul {
        display: inline-block !important;
    }
}

@media screen and (max-width : 767px) {
    .edit-product-wrapper .container {
        width: 100%;
    }
    .mt-xs-5 {
        margin-top: 10px;
    }
    body .coupon-sec {
        display: inline-flex !important;
        margin-top: 20px;
    }
    body .coupon-sec .form-check {
        padding-top: 10px;
    }
    .action-col a {
        display: inline-block;
        width: 35px;
        margin-bottom: 20px;
    }
    .disable-xs {
        display: none;
    }
    .btn-bottom {
        margin-bottom: 10px;
    }
    .prod-table td,
    .prod-table th {
        font-size: .9rem;
    }
    .prod-table .pt-prod-img,
    .cart-wrapper .ci-img img,
    .product-thumb-img {
        width: 70px;
    }
    .accordion.order-summary .accordion-button,
    .accordion.order-summary .accordion-body {
        padding: 12px;
    }
    .animate-bottom {
        position: relative;
        animation: animatebottom 0.4s;
    }
    @keyframes animatebottom {
        from {
            bottom: -300px;
            opacity: 0;
        }
        to {
            bottom: 0;
            opacity: 1;
        }
    }
    .product-selection-modal {
        padding-right: 0 !important;
    }
    .product-selection-modal .modal-dialog {
        min-height: 100%;
        margin: 0 auto;
    }
}

.blink {
    position: absolute;
    opacity: 0;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    font-size: .9rem;
    transition: opacity 1s ease-in;
}

.product-features .position-relative {
    padding: 20px 20px;
    line-height: 30px;
    text-align: center;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 0px !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
}

/****admin dashboard*****/

.db-link {
    height: 100%;
}

.db-link-notification {
    position: absolute;
    right: -12px;
    top: -12px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #FF0000;
    color: #fff;
    border-radius: 50%;
    display: block;
    font-size: 13px;
}

.db-link .rounded-3 {
    width: 85px;
    height: 85px;
    margin: auto;
    background: #000;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.db-link:hover .rounded-3 {
    background: var(--primarycolor);
}

.mte-3 {
    margin-top: -30px;
}

.custom-input {
    padding: 0px 8px;
    top: -27px;
    left: 12px;
}

.icon-home {
    width: 24px;
    height: 26px;
    background: url(../images/dark-home.svg)no-repeat;
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
}

.form-search {
    height: 31px !important;
    font-size: 14px !important;
}

.upload-logo {
    border: 1px dashed #ccc;
    text-align: center;
    padding: 40px 50px;
}

.upload-logo img {
    margin: auto;
}

.pagination .page-link {
    background: #FFD3B3 !important;
    color: #000;
    border: 0px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.sm-price {
    font-size: 11px;
}

.setting-model .me-2 {
    width: 30px;
    display: inline-block;
}

.shadow-sm {
    box-shadow: 0 0 18px rgba(0, 0, 0, .05) !important;
}

.nav-flush .active {
    background: #FF6C02 !important;
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .container,
    .container-lg,
    .container-md {
        width: 84rem;
    }
}

.heading {
    width: 160px;
}

.margin-icon {
    margin-bottom: -7px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #FF6C02 !important;
    padding: 0.4em 0.8em;
    border: #eaeaea 1px solid;
    ;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #FF6C02 !important;
    border-color: #eaeaea !important;
    background-color: #eaeaea !important;
    background: unset;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background: unset !important;
    border: #FF6C02 1px solid !important;
    background-color: #FF6C02 !important;
    cursor: default;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #fff;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #fff;
}

table.dataTable thead th,
table.dataTable thead td {
    border: 1px solid #ddd;
    border-left: none;
}

table.dataTable.stripe tbody tr.even,
table.dataTable.display tbody tr.even {
    background-color: #f3f3f3;
}

select.selectpicker {
    display: none;
    /* Prevent FOUC */
}

.datatables_length {
    padding-bottom: 15px;
}

/*table.dataTable {
    border-left: 1px solid #ddd;
    padding: 0px;
    width: 100% !important;*/
    /*margin-top: 20px !important;
    margin-bottom: 10px !important;
}*/

.dataTables_wrapper select,
.dataTables_wrapper input {
    border: 1px solid #ddd;
    padding: 0.4em;
}

/*.dataTables_length {
    display: none;
}*/

#admin-order_filter {
    float: right !important;
    margin-bottom: 20px !important;
}

.card-box {
    height: 220px;
}

#giveaway .accordion-item {
    padding: 0px;
    border: 0px !important;
}

.accordion-button:not(.collapsed) {
    color: #000;
}

.collapse {
    background: #e7f1ff;
}

.country .us {
    background: url(../images/flag/usd.svg);
}

.media-slider .col-2 {
    width: 18.26%;
}

@media screen and (max-width : 767px) {
    .media-slider .col-2 {
        width: 28.26%
    }
}

/*table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}*/

.referesh-tag {
    width: 20px;
    margin-top: -4px;
    margin-bottom: 10px;
}

#longlink {
    display: block;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

