/*img {
			height: 50px;
			width: 50px;
			-webkit-transition: all .4s ease-in;
		}*/

		.fullSize {
			height: 250px;
			width: 232px;
		}

		/* The Modal (background) */
		#myModal {
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			margin-left:30%;
			margin-right:70%;
			margin-top: 200px;
			left: 0;
			top: 0;
			width: 30%; /* Full width */
			height: 50%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
		}

		/* Modal Content (image) */
		.modal-content {
			margin: auto;
			display: block;
			width: 50%;
			height: 100%;
		}
		
		@-webkit-keyframes zoom {
			from {-webkit-transform:scale(0)} 
			to {-webkit-transform:scale(1)}
		}

		@keyframes zoom {
			from {transform:scale(0)} 
			to {transform:scale(1)}
		}

		/* The Close Button */
		.close {
			position: absolute;
			top: -11px;
			right: 5px;
			color: #dc3545;
			font-size: 35px;
			font-weight: bold;
			transition: 0.3s;
		}

		.close:hover,
		.close:focus {
			color: #010203;
			text-decoration: none;
			cursor: pointer;
		}

		/* 100% Image Width on Smaller Screens */
		@media only screen and (max-width: 700px){
		.modal-content {
			width: 100%;
		  }
		}
		
		
		/* Style the tab */
		.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 17px;
		}

		/* Change background color of buttons on hover */
		.tab button:hover {
			background-color: #ddd;
		}


		/* Create an active/current tablink class */
		.tab button.active {
			background-color: #ccc;
		}
		.tabcontent {
			display: none;
		}