/* montserrat-100 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montserrat-v17-latin-100.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-100.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-100.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-200 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montserrat-v17-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-200.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-200.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-300 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v17-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-300.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v17-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-500.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v17-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v17-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-800 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v17-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-800.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-900 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v17-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/montserrat-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v17-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v17-latin-900.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

:root {
    --primarycolor: #FF6C02;
    --primarylight: #fff2e9;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.carousel-control-next {
    right: -15px;
}

.carousel-control-prev {
    left: -15px;
}

.nav-link:hover {
    color: #FF6C02 !important;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1040px;
    }
}

.bg-gray {
    background: #EBEBEB;
}

.bg-white {
    border-top: 1px solid #fff;
}

.text-bold {
    font-weight: 700;
}

.text-orange {
    color: #FF6C02;
}

.fw-semi {
    font-weight: 600;
}

.navbar {
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.navbar-nav .nav-link {
    font-size: 11px;
}

.title {
    font-weight: 800;
    margin-top: 100px;
}

.highlight {
    font-size: 18px;
    color: #FF6C02;
}

.blaze-icon {
    background: url(../images/fire.svg)no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.heart-icon {
    background: url(../images/icon-heart.svg)no-repeat;
    width: 23px;
    height: 20px;
    display: inline-block;
    /* background-size: 69%; */
    margin-right: 10px;
}

.carousel-control-prev-icon {
    background-image: url(../images/left-arrow.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(../images/right-arrow.svg) !important;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.btn {
    font-size: .9rem;
}

.form-check-input:checked {
    background-color: #FF6C02;
    border-color: #FF6C02;
}

.btn-primary {
    background: #FF6C02;
    border: 0px;
    font-weight: 600;
    padding: 10px 20px;
}

.primary-light-bg {
    background: #FFF9F4;
}

.btn-primary:hover {
    background: #000 !important;
}

.btn-outline-warning {
    border-color: #FF6C02;
}

.btn-primary:hover,
.btn-outline-warning:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.seperator {
    height: 100px;
}

.sub-heading {
    font-size: 30px;
    font-weight: 700;
}

/*p{
  font-size: 18px;
  line-height: 36px;
}*/

.testimonials {
    background: #FAF4EF;
    padding-top: 30px;
    padding-bottom: 50px;
}

footer {
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a {
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24px' height='24px'%3E%3Cpath d='M2 11H22V13H2zM2 5H22V7H2zM2 17H22V19H2z'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.social-icon li {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    padding: 10px;
}

.social-icon li:hover {
    background: #FF6C02;
}

.material-dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #FFFFFF;
    color: #000000;
    z-index: 1000;
    transition: 0.2s ease-in height, step-end box-shadow 0.2s;
    -moz-transition: 0.2s ease-in height, step-end box-shadow 0.2s;
    -webkit-transition: 0.2s ease-in height, step-end box-shadow 0.2s;
}

.material-dropdown.material-dropdown-open {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.material-dropdown li {
    padding: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-dropdown li:hover {
    background-color: #e8eaf6;
}

.material-dropdown li.material-dropdown-selected {
    background-color: #9fa8da;
}

/*
A material design form field
Expects this html (note the required attribute on the input):
<div class="material-form-field">
<input type="text" required/>
<label class="material-form-field-label">Form field title</label>
</div>
*/

.material-form-field {
    position: relative;
    display: block;
    color: #000000;
    padding: 25px 0 10px 0;
    width: 60%;
}

.material-form-field::after {
    content: "Â ";
    display: none;
    color: #d50000;
    font-size: 12px;
    padding-top: 5px;
}

.material-form-field .material-form-field-label {
    font-size: .9rem;
    position: absolute;
    display: block;
    top: 35px;
    left: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    cursor: text;
}

.material-form-field input,
.material-form-field textarea,
.material-form-field select {
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #000000;
    outline: none;
}

.material-form-field input:invalid {
    outline: none;
    box-shadow: none;
    background: transparent;
}

.material-form-field input:focus~.material-form-field-label,
.material-form-field select:focus~.material-form-field-label {
    top: 10px;
    font-size: 12px;
}

.material-form-field input:focus,
.material-form-field select:focus {
    outline: none;
    color: #3f51b5;
    padding-bottom: 8px;
    border-bottom-width: 3px;
    border-bottom-color: #3f51b5;
}

.material-form-field input:focus~.material-form-field-label,
.material-form-field select:focus~.material-form-field-label {
    color: #3f51b5;
}

.material-form-field input:focus~.material-dropdown {
    /*
  If you want to animate this you will need to use some js to calculate it
  Optionally, you can simply display:block/none 
  */
    height: 228px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-out height, step-start box-shadow 0.2s;
    -moz-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
    -webkit-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
}

.material-form-field.material-form-field-invalid {
    color: #d50000;
}

.material-form-field.material-form-field-invalid::after {
    content: attr(data-validationError);
}

.material-form-field.material-form-field-invalid input:focus~.material-form-field-label {
    color: #d50000;
}

.circle {
    background: url(../images/circle.png)no-repeat;
    width: 466px;
    height: 466px;
    position: absolute;
    left: -320px;
    z-index: -9;
}

.sticky-footer {
    width: 100%;
    display: none;
    position: fixed;
    top: 0px;
    background: #fff;
    box-shadow: 2px -4px 32px #0000004a;
    padding: 10px 0px;
}

.fixed {
    display: block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {}
    .fixed {
        display: block;
    }
    .sticky-footer {
        bottom: 0px !important;
        top: auto;
    }
    .circle {
        left: -140px;
        background-size: 51%;
        margin-top: 80px;
    }
    .list-group {
        text-align: left;
        margin-top: 30px;
    }
    .testimonials {
        text-align: left;
    }
    .testimonials .card {
        margin-bottom: 10px;
    }
    .material-form-field {
        width: 90%;
        margin: auto;
    }
    .seperator {
        height: 10px;
    }
    .title {
        margin-top: 30px;
    }
    .m-r-0 {
        text-align: right;
    }
    .m-l-0 {
        text-align: left;
    }
    .mb-form {
        background: #fff;
        width: 80%;
        margin: -50px auto;
        padding-bottom: 20px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    footer .labels {
        margin-top: 20px;
        display: block;
    }
}

.material-form-field .material-form-field-label.focused {
    top: 10px;
    font-size: 12px;
}

/******product detail page*****/

.site-switch-control .form-switch .form-check-input {
    width: 45px;
    height: 25px;
}

.site-switch-control .switch-large {
    width: calc(100% - 70px);
}

.form-check-input:checked {}

a.bin-circle {
    position: absolute;
    top: -12px;
    right: -6px;
    display: block;
    width: 25px;
    height: 25px;
    background: #FF6C02;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
}

a.bin-circle svg {
    width: 15px;
    height: 15px;
}

.media-slider .slick-track {
    margin-left: 0;
}

.media-slider .slick-slide {
    margin: 0 12px;
}

.media-slider .slick-list {
    margin: 0 -12px;
    overflow: visible;
}

.media-slider .media-item {
    padding: 12px;
    border: 1px solid #eee;
}

@media only screen and (max-width: 767px) {
    .mobileview {
        width: 100% !important;
        padding: 0px !important;
    }
    .mobileview .col-12 {
        text-align: center;
        padding: 0px 40px;
    }
    .mobileview .video {
        text-align: center;
        padding: 0px 0px !important;
    }
    .edit-product-wrapper .product-img {
        width: 70px;
    }
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: inline-block !important;
    }
    .fs-5 {
        font-size: 14px !important;
    }
    .btn-lg {
        width: 100%;
    }
}

/* -----------Admin-------------*/

td {
    vertical-align: middle;
}

.visible-xs {
    display: none;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

td {
    font-size: 12px;
}

th {
    background: ##EFEFEF;
    border: 0px;
    font-size: 12px;
}

.btn-outline-primary {
    border: 1px solid #FF6C02;
    color: #FF6C02;
}

.btn-outline-primary:hover {
    border: 1px solid #FF6C02;
    background: #FF6C02 !important;
}

.icon-cart {
    width: 40px;
    height: 26px;
    background: url(../images/icon-cart.svg)no-repeat;
    display: block;
    position: absolute;
    right: 80px;
    top: 20px;
}

.form-c {
    margin-top: 40px;
}

@media screen and (max-width : 767px) {
    .icon-cart {
        right: 60px;
    }
}

.icon-home {
    width: 24px;
    height: 26px;
    background: url(../images/dark-home.svg)no-repeat;
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
}

.icon-edit {
    width: 24px;
    height: 20px;
    background: url(../images/icon-edit.svg)no-repeat;
    display: inline-block;
}

.icon-mail {
    width: 24px;
    height: 18px;
    background: url(../images/icon-mail.svg)no-repeat;
    background-size: 100%;
    display: inline-block;
}

.icon-delete {
    width: 20px;
    height: 20px;
    background: url(../images/icon-delete.svg)no-repeat;
    display: inline-block;
}

.icon-add {
    width: 20px;
    height: 20px;
    background: url(../images/icon-add.svg)no-repeat;
    display: inline-block;
}

.icon-user {
    width: 30px;
    height: 27px;
    background: url(../images/icon-user.svg)no-repeat;
    display: block;
}

.icon-back {
    width: 20px;
    height: 27px;
    float: left;
    background: url(../images/icon-back.svg)no-repeat;
    display: inline-block;
}

/* -----------Sign In-------------*/

.sign-in {
    height: 400px;
}

.btn-lg {
    padding: 20px 40px 20px 40px;
}

/*------------ Product ------------*/

.breadcrumb a {
    text-decoration: none;
    color: #FF6C02;
}

.banner {
    padding: 15px 10px;
    background: #FFF2E9;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 21px;
    text-align: center;
    font-weight: 800;
}

.product-list .product-price {
    font-size: 14px;
    color: #FF6C01;
}

.product-list strike {
    font-size: 12px;
    color: #000;
}

.stars-rating {
    background: url(../images/stars.svg)no-repeat;
    width: 30%;
    height: 11px;
    display: inline-block;
}

.rating-1 {
    background-position: 0px -1px;
}

.rating-2 {
    background-position: 0px -20px;
}

.rating-3 {
    background-position: 0px -38px;
}

.rating-4 {
    background-position: 0px -56px;
}

.rating-5 {
    background-position: 0px -76px;
}

/*******cart page*******/

.cart-wrapper .qty-input {
    width: 80px;
}

/*******cart page*******/

/*******checkout page*******/

.checkout-wrapper .accordion-button::after {
    display: none;
}

.checkout-wrapper .accordion-button .accordion-arrow {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    display: inline-block;
}

.checkout-wrapper .accordion-button:not(.collapsed) .accordion-arrow {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion.order-summary {
    background: var(--primarylight);
}

.accordion.order-summary .accordion-button {
    box-shadow: none;
}

.accordion.order-summary hr {
    background-color: var(--primarycolor);
    opacity: .9;
}

.payment-wrapper .border {
    border-color: #333 !important;
}

.info-tooltip {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: var(--primarycolor);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family: georgia;
}

/*******checkout page*******/

.policy-pages p {
    color: #5f5f5f;
}

.order-summary {
    background: #FFDFC7;
}

.order-summary .product-price {
    font-size: 14px;
}

.order-summary .price-var {
    line-height: 10px;
}

.checkout-wrapper .cart-feature h5 {
    font-size: 14px;
}

.checkout-wrapper .cart-feature p {
    font-size: 12px;
}

.checkout-wrapper .cart-feature img {
    width: 10%;
}

.checkout-wrapper .accordion-item {
    border: 1px solid #000 !important;
    padding: 12px;
    margin-bottom: 10px;
}

@media screen and (max-width : 767px) {
    .stars-rating {
        width: 40%;
    }
    .page-title {
        text-align: center;
    }
    .prod-table td,
    .prod-table th {
        font-size: .9rem;
    }
    .prod-table .pt-prod-img,
    .cart-wrapper .ci-img img,
    .product-thumb-img {
        width: 50px;
    }
    .accordion.order-summary .accordion-button,
    .accordion.order-summary .accordion-body {
        padding: 12px;
    }
}

/******* Product List *****/

.product-list .card {
    padding: 10px;
}

.select2 {
    width: 100% !important;
}

.mte-3 {
    margin-top: -30px;
}

.label2 {
    top: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: left;
}

/*******Misc********/

.links {
    color: #000;
    text-decoration: none;
}

.fs-14 {
    font-size: 14px;
}

@media screen and (max-width : 320px) {
    .fs-14 {
        font-size: 12px;
    }
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-11 {
    font-size: 11px;
}

.fs-10 {
    font-size: 10px;
}

.header-style {
    font-size: 21px;
    text-align: center;
}

.product-title {
    font-size: 16px;
}

@media screen and (max-width : 767px) {
    .sm-input {
        margin-top: 30px;
    }
    .product-title {
        font-size: 10px;
    }
}

.product-price {
    font-size: 20px;
}

.product-price-var {
    font-size: 14px;
}

.feature {
    font-size: 18px;
}

.feature-subtext {
    font-size: 16px;
    line-height: 26px;
}

.menu-icon {
    width: 20px;
    margin-right: 10px;
}

.hidden-lg {
    display: none;
}

.heart-stroke {
    fill: none;
    stroke: #ddd;
    stroke-width: 2px;
    opacity: 1;
    transform-origin: center center;
}

.button.active .heart-stroke {
    opacity: 0;
}

.heart-full {
    opacity: 0;
    transform-origin: 50% 50%;
}

.button.active .heart-full {
    opacity: 1;
}

.heart-lines {
    stroke-width: 2px;
    display: none;
}

.button:not(.active):hover .heart-stroke {
    -webkit-animation: pulse 1s ease-out infinite;
    animation: pulse 1s ease-out infinite;
}

.button.animate .heart-full {
    -webkit-animation: heart 0.35s;
    animation: heart 0.35s;
}

.button.animate .heart-lines {
    -webkit-animation: lines 0.2s ease-out forwards;
    animation: lines 0.2s ease-out forwards;
    display: block;
}

@-webkit-keyframes lines {
    0% {
        stroke-dasharray: 6;
        stroke-dashoffset: 16;
    }
    100% {
        stroke-dasharray: 13;
        stroke-dashoffset: 18;
    }
}

@keyframes lines {
    0% {
        stroke-dasharray: 6;
        stroke-dashoffset: 16;
    }
    100% {
        stroke-dasharray: 13;
        stroke-dashoffset: 18;
    }
}

@-webkit-keyframes heart {
    0% {
        transform: scale(1);
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(1.2);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    35% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    75% {
        transform: scale(1.1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(1.2);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    35% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    75% {
        transform: scale(1.1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform-origin: center center;
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.heart {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.sales {
    height: 15px;
    width: 47px;
    padding: 2px;
    font-size: 9px;
    color: #fff;
    background: #ff6c02;
    position: absolute;
}

.info-tooltip {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: var(--primarycolor);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family: georgia;
}

@media screen and (max-width : 769px) {
    .hidden-lg {
        display: inline-block;
    }
    .hori-timeline .events .event-list {
        text-align: left !important;
    }
    .hori-timeline .events .event-list .event-date {
        margin: inherit !important;
    }
    .event-list {
        padding-top: 50px !important;
    }
    .event-list .px-4 {
        padding-left: 80px !important;
    }
}

.product-selection-modal .btn-close {
    margin-bottom: -20px;
}

@media screen and (max-width : 769px) {
    .prod-table td,
    .prod-table th {
        font-size: .9rem;
    }
    .hori-timeline .events {
        border-top: 0px !important;
    }
    .hori-timeline .events .event-list:before {
        content: "";
        position: absolute;
        height: 246px;
        border-right: 2px dashed #dee2e6;
        top: 0px;
        left: 30px;
    }
    .prod-table .pt-prod-img,
    .cart-wrapper .ci-img img,
    .product-thumb-img {
        width: 50px;
    }
    .accordion.order-summary .accordion-button,
    .accordion.order-summary .accordion-body {
        padding: 12px;
    }
    .animate-bottom {
        position: relative;
        animation: animatebottom 0.4s;
    }
    @keyframes animatebottom {
        from {
            bottom: -300px;
            opacity: 0;
        }
        to {
            bottom: 0;
            opacity: 1;
        }
    }
    .product-selection-modal .modal-dialog {
        min-height: 100%;
        margin: 0 auto;
    }
    .product-selection-modal .modal-dialog p {
        font-size: 12px !important;
    }
    .product-selection-modal .btn-close {
        margin-bottom: -20px;
    }
    .product-selection-modal .modal-body {
        padding-right: 10px;
    }
}

.blink {
    position: absolute;
    opacity: 0;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    transition: opacity 1s ease-in;
}

.product-features .position-relative {
    padding: 20px 20px;
    line-height: 30px;
    text-align: center;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 0px !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
}

/****** Affilate ******/

.hori-timeline .events {
    border-top: 1px dashed #9B9B9B;
}

.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}

.hori-timeline .events .event-list .event-date {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 5px solid #FF6C01;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 16px 4px;
}

ol {
    padding-left: 17px;
}

@media (min-width: 1024px) and (max-width: 1120px) {
    .nav-link {
        font-size: 11px !important;
    }
    .icon-cart {
        right: 20px !important;
    }
    .navbar-nav {
        margin-right: 40px;
    }
}

@media (min-width: 1020px) {
    .hori-timeline .events .event-list {
        display: inline-flex;
        width: 32%;
        padding-top: 75px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -35px;
    }
}

.bg-soft-primary {
    background-color: rgba(64, 144, 203, .3) !important;
}

.bg-soft-success {
    background-color: rgba(71, 189, 154, .3) !important;
}

.bg-soft-danger {
    background-color: rgba(231, 76, 94, .3) !important;
}

.bg-soft-warning {
    background-color: rgba(249, 213, 112, .3) !important;
}

/****order tracking*********/

.order-tracking {
    text-align: center;
    width: 20%;
    position: relative;
    display: block;
}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 6px;
    transform: rotate(45deg);
    height: 25px;
    width: 25px;
    border: 1px solid #AFAFAF;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}

.order-tracking .completed.current:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.order-tracking.completed .is-complete {
    border-color: transparent;
    border-width: 0;
}

.order-tracking.completed .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: rgba(247, 131, 12, 1);
    background: linear-gradient(0deg, rgba(247, 131, 12, 1) 0%, rgba(233, 18, 99, 1) 100%);
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}

.order-tracking.completed.current .is-complete {
    border: 1px solid #ccc;
}

.order-tracking.completed.current .is-complete:after {
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
}

.order-tracking p {
    color: #333;
    font-size: 12px;
    margin-top: 8px;
    font-weight: 600;
    margin-bottom: 0;
}

.order-tracking::before {
    content: '';
    display: block;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #ccc;
    top: 13px;
    position: absolute;
    left: calc(-50% + 15px);
    z-index: 0;
}

.order-tracking:first-child:before {
    display: none;
}

.order-tracking.completed:before {
    background-color: #e91263;
}

/****order tracking*********/

@media screen and (max-width : 769px) {
    .hidden-lg {
        display: inline-block;
    }
}

/********member dashboard*******/

.member-wrapper {
    background: #F8FBFF;
    min-height: 60vh;
}

.stretched-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

/********member dashboard*******/

@media screen and (max-width : 767px) {
    .sticky-cta {
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        z-index: 999;
    }
    .prod-table td,
    .prod-table th {
        font-size: .9rem;
    }
    .prod-table .pt-prod-img,
    .cart-wrapper .ci-img img,
    .product-thumb-img {
        width: 50px;
    }
    .accordion.order-summary .accordion-button,
    .accordion.order-summary .accordion-body {
        padding: 12px;
    }
}

.overflow-tabs {
    overflow: auto;
}

.overflow-tabs::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.overflow-tabs::-webkit-scrollbar {
    height: 3px;
    background-color: #f1f1f1;
}

.overflow-tabs::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.overflow-tabs .nav-link {
    font-weight: 600;
}

@media screen and (max-width : 767px) {
    .overflow-tabs .nav-link {
        font-size: .8rem;
    }
    .prod-table td,
    .prod-table th {
        font-size: .9rem;
    }
    .prod-table .pt-prod-img,
    .cart-wrapper .ci-img img,
    .product-thumb-img {
        width: 70px;
    }
    .accordion.order-summary .accordion-button,
    .accordion.order-summary .accordion-body {
        padding: 12px;
    }
    .animate-bottom {
        position: relative;
        animation: animatebottom 0.4s;
    }
    @keyframes animatebottom {
        from {
            bottom: -300px;
            opacity: 0;
        }
        to {
            bottom: 0;
            opacity: 1;
        }
    }
    .product-selection-modal {
        padding-right: 0 !important;
    }
    .product-selection-modal .modal-dialog {
        min-height: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width : 479px) {
    .order-tracking p {
        font-size: 9px;
    }
}



.btn-choice label {
    font-size: 10px;
}

.overflow-tabs {
    overflow: auto;
}

.order-item {
    font-size: .9em;
}

/***** Member Dasboard *****/

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow-1.svg) !important;
}

.info {
    border: none !important;
    padding: 20px;
}

.accordion-button::after {
    background-image: url(../images/arrow-1.svg) !important;
    height: 1rem;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.setting-model .list-group-item {
    border: 0px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    border: 3px solid #FF6C02;
    background: #ffffff !important;
}

.btn-group .btn-outline-primary {
    border: 1px solid #ccc;
}

.bg-member {
    background: url(../images/bg-member.png)no-repeat;
    background-size: 100%;
}

.choices__list--multiple .choices__item {
    background-color: #ff6c02 !important;
    border: 1px solid #ff6c02 !important;
}

.carousel-inner {
    padding: 0px 60px;
}

@media screen and (max-width : 769px) {
    .carousel-inner {
        padding: 0px 30px;
    }
    .video-palyer {
        height: 200px;
    }
    .site-footer {
        padding-bottom: 80px !important;
    }
}

.btn-close {
    background: url(../images/icon-cross.svg)no-repeat;
    opacity: 1;
    z-index: 999;
    padding-left: 20px;
}

.btn-check:focus+.btn-light,
.btn-light:focus {
    color: #fff;
    background-color: #FF6C02 !important;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.bottom-modal .btn-close {
    margin-bottom: -30px !important;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #FF6C02 !important;
    outline: none;
    background-color: #FF6C02 !important;
}

.btn-group .btn-primary {
    background: #F2F2F2 !important;
    outline: none;
    color: #000;
    border-radius: 5px !important;
    margin-right: 5px;
}

.circle-pointer .entry-span {
    width: 120px;
    text-align: right;
    display: inline-block;
}

.admin-tabs {
    margin: 0 -3px;
}

.admin-tabs li {
    margin: 0 3px;
}

.admin-tabs .nav-link {
    color: #000;
    position: relative;
}

.admin-tabs .nav-link:after {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #ccc;
    border-radius: 5px;
}

.admin-tabs .nav-link.active {
    color: var(--primarycolor);
    border: 0;
}

.bg-primary {
    background-color: #FF6C02 !important;
}

.admin-tabs .nav-link.active:after {
    background: var(--primarycolor);
}

.circle-pointer {
    padding: 0 0 0 20px;
    position: relative;
}

.circle-pointer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid var(--primarycolor);
}

.btncancel {
    margin-bottom: -40px !important;
}

.nav-flush .active {
    background: #FF6C02 !important;
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .container,
    .container-lg,
    .container-md,
        {
        width: 64rem;
    }
}

.num {
    position: absolute;
    right: 80px;
    bottom: 20px;
    z-index: 999;
}

@media screen and (max-width : 769px) {
    .num {
        right: 57px;
    }
}

.select2 {
    margin-left: -5px;
}